#profilePicture{
    width:250px;
    height:250px;
}
html{
    background: url("../img/blog-harold-02.jpg") no-repeat center center fixed;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float:left;
}
li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{
    margin:0;
}
#wrapper{
    width:75%;
    padding:1% 0%;
    margin:auto;
    margin-top:2%;
    background-color: rgba(255,255,255,0.75);
    display:flex;
    justify-content: center;
    align-items: center;
}
.singleImageWrapper {
    width:250px;
    display:inline-block;
    margin-right:3%;
    margin-left:3%;
    position:relative;
    margin-bottom:3%;
}
#indexWrapper {
    width:100%;
    text-align:center;
    height:100%;
}
#indexWrapper > h1{
    display:inline-block;
    vertical-align: middle;
}
#profilePicture{
    width: 75px;
    height:75px;
    display:inline-block;
    vertical-align: middle;
}
figure{
    display:inline-block;
}
nav ul li a{
    color:white;
}